<div class="row">
    <div class="col-9">
        <h2 class="text-info"> Order List</h2>
    </div>
</div>
<table id="tblData" class="table table-bordered table-active table-striped">
    <thead>
        <tr>
            <th>OrderHeaderId</th>
            <th>OrderDate</th>
            <th>Amount</th>
            <th>OrderStatus</th>
            <th>Action</th>
        </tr>
    </thead>
</table>
@section scripts
{
    <script src="~/js/allOrders.js"></script>
    
}